<?php require "partials/header.html"?>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="admin.css" />
<script src="admin.js" type="text/javascript"></script>
</head>
<body>
	<div class= "body">
	    <div class="content">
	    	<div class="nav-bar"></div>
	    	<form id="newUser" class="login-form buttons">
	    		<div class="signup-login button">
	    			<button class="signup">Add New User</button>
	    			<button class="signup logout">Logout</button>
	    		</div>
	    		<div class="form-login hidden">
		          <label>First name:<br><input class="required" type="text" placeholder="Ex: Renee" name="firstname" required></label><br>
		          <label>Last name:<br><input class="required" type="text" placeholder="Ex: Duhaney" name="lastname" required></label><br>
	    			<label>Username:<br><input class="required" type="text" placeholder="Ex: renxy101" name="username" required></label><br>
	    			<label>Password:<br><input class="required" type="password" name="signpass" required></label><br>
	    		</div>
	    		<div class="form-signup hidden">
	    			<label>Confirm Password:<br><input id="cpass" class="required" type="password" name="cpass" required></label><br>
	    		</div>
	    		<button id="addnew" class="submit signup hidden">Submit User</button>
	    	</form>
		</div>
	</<div>
<?php require "partials/footer.html"?>