<?php require 'partials/header.html'?>
<link rel="stylesheet" type="text/css" href="login.css" />
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Cheapo<span>Mail</span></div>
		</div>
		<br>
		<form action="log" method="POST">
		<div class="login">
			<input type="text" placeholder="username" name="username"><br>
			<input type="password" placeholder="password" name="pass"><br>
			<input type="submit" value="Login">
		</div>
		</form>
<?php require 'partials/footer.html'?>